//================================
//IMPORT
//================================
@import 'breakpoints';
@import '01_placeholders/import';
@import '02_css-mixins/import';
//================================
//VARIABLES
//================================
//Tab group style
$ariaTabs--tabGroupPaddings: 1rem 0;
//Nav style
$ariaTabs--navBackgroundColor: #b51c1c;
$ariaTabs--tabNavBorder: 0.01rem solid #b51c1c;
$ariaTabs--tabNavBorderRadius: 0.5rem;
//button style
$ariaTabs--btnPadding: 0.5rem 1.5rem;
$ariaTabs--btnBackgroundColor: #b51c1c;
$ariaTabs--btnColor: #fff;
//selected button style
$ariaTabs--btnSelectedBackgroundColor: #ffffff;
$ariaTabs--btnSelectedColor: #690e0e;
//Tabpanel style
$ariaTabs--tabpanelBorder: 0.01rem solid #b51c1c;
$ariaTabs--tabpanelBorderRadius: 0.5rem;
//content style
$ariaTabs--contentPadding: 0.5rem;
//================================
//CSS STYLES
//================================
//-------------------------------
//BLOCK
//-------------------------------
.tab-group {
  padding: $ariaTabs--tabGroupPaddings;
}
//-------------------------------
//ELEMENTS
//-------------------------------
.tab-group__tab-nav {
  background-color: $ariaTabs--navBackgroundColor;
  @if $ariaTabs--tabNavBorder !='' {
    border-left: $ariaTabs--tabNavBorder;
    border-right: $ariaTabs--tabNavBorder;
    border-top: $ariaTabs--tabNavBorder;
  }
  @if $ariaTabs--tabNavBorderRadius !=0 {
    border-top-left-radius: $ariaTabs--tabNavBorderRadius;
    border-top-right-radius: $ariaTabs--tabNavBorderRadius;
  }
}
.tab-group__tab-ul {
  @extend %margin-0;
  @extend %list-style-none;
  @extend %padding-0;
  @extend %clearfix;
}
.tab-group__tab-li {
  @extend %float-left;
  @if $ariaTabs--tabNavBorderRadius !=0 {
    &:first-child {
      > .tab-group__tab-btn {
        border-top-left-radius: $ariaTabs--tabNavBorderRadius;
      }
    }
  }
  @if $ariaTabs--tabNavBorderRadius !=0 {
    &:last-child {
      > .tab-group__tab-btn {
        border-top-right-radius: $ariaTabs--tabNavBorderRadius;
      }
    }
  }
}
.tab-group__tab-btn {
  @extend %appearance-none;
  background-color: $ariaTabs--btnBackgroundColor;
  @extend %border-none;
  color: $ariaTabs--btnColor;
  padding: $ariaTabs--btnPadding;
  @extend %width-100;
}
.tab-group__tabs-cont {
  //
}
.tab-group__tabpanel {
  @if $ariaTabs--tabpanelBorder !='' {
    border-bottom: $ariaTabs--tabpanelBorder;
    border-left: $ariaTabs--tabpanelBorder;
    border-right: $ariaTabs--tabpanelBorder;
  }
  @if $ariaTabs--tabpanelBorderRadius !='' {
    border-bottom-left-radius: $ariaTabs--tabpanelBorderRadius;
    border-bottom-right-radius: $ariaTabs--tabpanelBorderRadius;
  }
}
.tab-group__tab-content {
  padding: $ariaTabs--contentPadding;
}
//-------------------------------
//MODIFIERS
//-------------------------------
.tab-group__tab-btn_selected {
  background-color: $ariaTabs--btnSelectedBackgroundColor;
  color: $ariaTabs--btnSelectedColor;
}
.tab-group__tabpanel_selected {
  //
}
//justify tabs with flexbox
.tab-group__tab-ul_justify {
  @extend %align-items-stretch;
  @extend %display-flex;
  @extend %flex-wrap-nowrap;
  .tab-group__tab-li {
    @extend %width-100;
  }
  .tab-group__tab-btn {
    @extend %height-100;
  }
}
