%clearfix {
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
%appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
//
//BLOCK
.tab-group {
  border: 0.1rem solid #c41c1c;
  margin: 1rem 0;
}
//ELEMENTS
.tab-group__tab-nav {
  background-color: #c41c1c;
}
.tab-group__tab-ul {
  margin: 0;
  list-style: none;
  padding: 0;
  @extend %clearfix;
}
.tab-group__tab-li {
  float: left;
}
.tab-group__tab-btn {
  @extend %appearance-none;
  background-color: #c41c1c;
  border: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
}
//.tab-group__tabs-cont {}
//.tab-group__tabpanel {}
.tab-group__tab-content {
  padding: 0.5rem;
}
//
//MODIFIERS
.tab-group__tab-btn_selected {
  background-color: #fff;
  color: #000;
}
//.tab-group__tabpanel_selected {}