//-------------------------------
//ELEMENTS
//-------------------------------

.tab-group__tab-ul {
  list-style: none;
  @include background($tab-group__tab-ul--background);
  @include border($tab-group__tab-ul--border);
  @include flexPositioning($tab-group__tab-ul--flexPositioning);
  display   : flex;
  @include margin($tab-group__tab-ul--margin);
  @include padding($tab-group__tab-ul--padding);
  @include sizes($tab-group__tab-ul--sizes);
}

.tab-group__tab-li {
  flex: 0 1 auto;
}

.tab-group__tab-btn {
  @include background($tab-group__tab-btn--background);
  @include border($tab-group__tab-btn--border);
  @include text($tab-group__tab-btn--text);
  @include font($tab-group__tab-btn--font);
  @include margin($tab-group__tab-btn--margin);
  @include padding($tab-group__tab-btn--padding);
  @include sizes($tab-group__tab-btn--sizes);

  &:focus,
  &:hover {
    @include background($tab-group__tab-btnPhover--background);
    @include border($tab-group__tab-btnPhover--border);
    @include text($tab-group__tab-btnPhover--text);
  }

  &:focus {
    @include outline($tab-group__tab-btnPfocus--outline);
  }
}

.tab-group__tabs-cont {
  //
}

.tab-group__tabpanel {
  @include border($tab-group__tabpanel--border);
}

.tab-group__tab-content {
  @include padding($tab-group__tab-content--padding);
}
